<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OrderFusion Demopage</title>

</head>
<body>
<p th:text="'hello:'+${name}" ></p>
<p th:text="'你好:'+${name}" ></p>
<p th:text="'こんにちは:'+${name}" ></p>
<p th:text="'안녕하세요:'+${name}" ></p>
<p th:text="'Bonjour:'+${name}" ></p>
<p th:text="'Hallo:'+${name}" ></p>
<p th:text="'Hallo:'+${name}" ></p>
<p th:text="'Hola:'+${name}" ></p>
<p th:text="'Ciao:'+${name}" ></p>
<p th:text="'Привет:'+${name}" ></p>
<p th:text="'Olá:'+${name}" ></p>
<p th:text="'Cześć:'+${name}" ></p>
<p th:text="'Γειά σου:'+${name}" ></p>

</body>
</html>